* {
    margin: 0 auto;
    padding: 0;
    /*border: 1px solid black;*/
    font-family: Roboto;
}

#szuflada_header {
    width: 100%;
    height: 500px;
    /*background-image: url("https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/17362917_1259001034154528_851650735925339835_n.jpg?oh=a77969675e71804900f4337c9323796f&oe=594CBC79");*/
    background-image: url("https://static.pexels.com/photos/93017/pexels-photo-93017.jpeg");
    background-color: beige;
    background-position: bottom;
    background-size: cover;
    /*background-size: contain;*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
}

.szuflada_container {
    width: 1200px;
    height: 100%;
}

.szuflada_header_content {
    display: flex;
    align-items: center;
}

.szuflada_7szuflad_header {
    width: 400px;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    /*transform: rotate(30deg);*/
}

.szuflada_7szuflad_header > h1 {
    font-size: 80px;
    font-family: Spirax;
    font-weight: 100;
    color: lightgrey;
    text-align: center;
}

.links {
    position: absolute;
    right: 20px;
    top: 20px;
}

.links > ul li {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4px;
    margin-right: 10px;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
}

.links > ul li a {
    text-decoration: none;
    font-weight: lighter;
    color: lightgrey;
    font-size: 25px;
    font-family: Spirax;
}

/*------------------SECTION---------------*/

#szuflada_section {
    width: 100%;
    height: 550px;
    /*background-color: beige;*/
}
.szuflada_section_content {
    display: flex;
}

.szuflada_obraz {
    height: 500px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.szuflada_obraz > img {
    height: 100%;
    width: 100%;
}

.szuflada_opis {
    height: 100%;
    width: 50%;
    display: block;
    margin-top: 105px;
}

.szuflada_opis > p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #423D3C;
}

.szuflada_opis > p:first-child {
    margin-bottom: 20px;
}

.szuflada_opis > p:nth-child(3) {
    margin-bottom: 20px;
}

/*--------------footer----------------*/

#szuflada_footer {
    width: 100%;
    height: 300px;
    background-color: black;
}
.szuflada_footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.szuflada_contact {
    margin-left: 100px;
}

.szuflada_contact > table tr td {
    list-style-type: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 8px;
    margin-top: 15px;
}

.szuflada_contact > table tr td a {
    text-decoration: none;
    color: lightgrey;
}

.szuflada_contact > table tr td img {
    width: 40px;
    height: 40px;
}

.opis_firmy {
    color: lightgrey;
    width: 50%;
}

.opis_firmy > p {
    line-height: 20px;
}

.opis_firmy > p span {
    font-size: 25px;
}
