* {
    margin: 0 auto;
    padding: 0;
    /*border: 1px solid black;*/
    font-family: Roboto;
}

#szuflada_header {
    width: 100%;
    height: 500px;
    background-image: url("https://images.pexels.com/photos/30373/pexels-photo-30373.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

.szuflada_container {
    width: 1024px;
    height: 100%;
}

.szuflada_7szuflad_header {
    width: 500px;
    height: 300px;
    /*border: 1px solid black;*/
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.szuflada_7szuflad_header > h1 {
    font-size: 80px;
    font-family: Roboto;
    font-weight: 100;
    color: lightgrey;
    /*text-align: center;*/
}

.szuflada_contact {
    width: 100%;
    clear: both;
    text-align: right;
}

.szuflada_contact > ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin-right: 8px;
    margin-top: 15px;
}

.szuflada_contact > ul li a {
    text-decoration: none;
    color: black;
}

/*------------------SECTION---------------*/

#szuflada_section {
    width: 100%;
    height: 450px;
    /*background-color: beige;*/
}
.szuflada_section_content {
    display: flex;
}

.szuflada_obraz {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.szuflada_obraz > img {
    height: 60%;
    width: 90%;
}

.szuflada_opis {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.szuflada_opis > h1 {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    color: darkgrey;
}

/*--------------footer----------------*/

#szuflada_footer {
    width: 100%;
    height: 300px;
    background-color: black;
}
.szuflada_footer_content {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.szuflada_footer_content > iframe {
    height: 270px;
    width: 370px;
}

.szuflada_kontakt {
    height: 270px;
    width: 370px;
}
.szuflada_kontakt> p {
    color: grey;
}
